* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

nav .logo {
    cursor: pointer;
}

nav .links {
    display: flex;
    gap: 2rem;
}

nav .links li {
    list-style: none;
    padding: 0 6px;
}

nav .links a,
.dropdown-menu a {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #4D4D4D;
}

nav .links a:hover {
    color: #915C5D;
    text-decoration: underline;
}

.DonateNow-btn {
    font-size: 14px;
    font-weight: 550;
    background-color: #fafafa;
    color: #915C5D;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 12px;
    border: 2px solid #915C5D;
    border-radius: 15px;
    outline: none;
}

.DonateNow-btn:hover {
    background-color: #915C5D;
    color: #FFF;
}

nav .toggle-btn {
    color: #4D4D4D;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    height: 0;
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    background-color: #d3d3d3;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.display {
    height: 250px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu a:hover {
    color: #915C5D;
    text-decoration: underline;
}

.dropdown-menu .DonateNow-btn:hover {
    background-color: #915C5D;
    color: #FFF;
}

.dropdown-menu .DonateNow-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsive  navbar  starts*/

@media screen and (max-width:992px) {

    nav .links,
    nav .DonateNow-btn {
        display: none;
    }

    nav .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
        width: 90%;

    }
}

@media screen and (max-width:576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

@media screen and (max-width:550px) {
    .logo img {
        width: 77%;
    }
}

@media screen and (max-width:350px) {
    .logo img {
        width: 55%;
    }
}

/* responsive  navbar  ends*/

/* About us section starts */
.about_hero {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#about_img {
    max-width: 100%;
    height: auto;
}

.about_hero_text {
    position: absolute;
    z-index: 1000;
    top: 0;
    color: #F5F5F5;
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 5rem 0 0 0;
}

.about_hero_text #about_me {
    font-size: 6rem;
}

.about_hero_text #above_heroText {
    word-wrap: break-word
}

.AboutUs-section {
    margin-left: 8rem;
    margin-top: 4.5rem;
}

#aboutus {
    color: #915C5D;
    font-size: 40px;
}

.about-section1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 45px;
    margin-left: 20px;
}

.about-section1 #about-section1-img {
    display: grid;
    grid-template-rows: auto;
    row-gap: -2rem;
}

#img-2 {
    margin-top: -28px;
}

.about-section1-para p {
    color: #666;
    width: 70%;
    margin-top: 20px;
    letter-spacing: -0.4px;
}

.about-section1-para {
    margin: 40px 0px 0px 50px;
}

.about-section1-para span {
    font-weight: 550;
}

/* About us section ends */

/* responsive about section 1 starts */

@media screen and (max-width:1200px) {

    .about-section1-para {
        width: 80%;
    }

    #about-section2-img {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    .about-section1 {
        margin: auto;
        display: grid;
        grid-template-columns: auto;
    }

    #img-1 {
        transform: rotate(-3.65deg);
        width: 70%;
        margin-left: 40px;
    }

    #img-2 {
        width: 80%;
        transform: rotate(2.47deg);

    }

    .about-section1-para {
        width: 86%;
        margin-top: -30px;
    }
}

@media screen and (max-width:992px) {
    .dropdown-menu {
        z-index: 3;
    }
}

@media screen and (max-width:920px) {
    .about-section1 {
        width: 100%;
    }
}

@media screen and (max-width:676px) {

    .about-section1 #img-2 {
        margin-left: -60px;
        width: 90%;
    }

    .about-section1 #img-1 {
        width: 90%;
        margin-left: -40px;
    }

    .about-section1-para {
        /* margin-left: -20px; */
        width: 100%;
    }
}

@media screen and (max-width:604px) {
    #img-1 {
        margin: 0;
        width: 90%;
        justify-content: center;
    }

    #img-2 {
        margin: 0;
        width: 90%;
        margin-top: -100px;
    }

    .AboutUs-section {
        /* margin-left: 2rem; */
        margin-top: 2.5rem;
    }

}

/* responsive about section 1 ends */

/* about section 2 starts  */

.about-section2 {
    display: flex;
    width: 100%;
    height: 395px;
    background: #F3F2E7;
}

.about-section2 span {
    color: rgba(118, 51, 53, 0.80);
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -1.125px;
}

.about-section2 p {
    position: relative;
    z-index: 3;
    width: 82%;
    color: #545050;
    font-size: 30px;
    letter-spacing: -0.8px;
    margin-left: 9rem;
    padding: 6.5rem 0rem;
    justify-content: center;
    align-items: center;
}

#about-section2-img {
    position: absolute;
    margin-left: 21.5rem;
}

/* about section 2 ends  */

/* responsive about section 2 starts */

@media screen and (max-width:1200px) {
    #about-section2-img {
        display: none;
    }
}

@media screen and (max-width:1360px) {
    #about-section2-img {
        margin-left: 15.5rem;
    }
}

@media screen and (max-width:1216px) {
    .about-section2 {
        margin-top: 50px;
    }
}

@media screen and (max-width:1052px) {
    .about-section2 p {
        margin-left: 5rem;
        margin-top: -3rem;
    }
}

@media screen and (max-width:900px) {
    .about-section2 p {
        font-size: 25px;
    }
}

@media screen and (max-width:724px) {
    .about-section2 p {
        margin-right: 30px;
        margin-left: 90px;
        margin-top: -3rem;
    }
}

@media screen and (max-width:616px) {
    .about-section2 p {
        font-size: 22px;
    }
}

/* responsive about section 2 ends */

/* about section 3 starts  */

#ourmission {
    color: rgba(118, 51, 53, 0.80);
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-left: 9rem;
    padding: 6.5rem 0 0 0;
    margin-top: -2rem;
}

.about-section3 {
    display: grid;
    grid-template-columns: 51% 44%;
    column-gap: 5%;
}

.about-section3-para p {
    padding-top: 2rem;
    color: #666;
    margin-left: 9rem;
}

/* about section 3 ends  */

/* responsive about section 3 starts */

@media screen and (max-width:1088px) {
    .about-section3-para p {
        padding-top: 15px;
        width: 80%;
    }

    .about-section3 {
        display: grid;
        grid-template-columns: auto;
    }

    #about-section3-img {
        margin-left: 30%;
    }
}

@media screen and (max-width:880px) {
    #ourmission {
        /* margin-left: -1px; */
        margin-left: 88px;
    }

    .about-section3-para {
        margin-left: -3rem;
    }

    #about-section3-img {
        margin-left: 20%;
    }
}

@media screen and (max-width:700px) {
    .about-section3-para {
        width: 97%;
    }

    #about-section3-img {
        margin-top: 2rem;
    }

    #about-sec4-heading {
        margin-left: 4.5rem !important;
    }
}

@media screen and (max-width:610px) {
    #about-section3-img {
        margin-left: 3rem;
    }
}

/* responsive about section 3 ends */
.problem_solutions{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: end;
    padding: 4rem 0;
    margin-top: 5rem;
}
.que_ans{
    max-width: 580px;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
}
.que_ans.active .answers{
    max-height: 300px;
    animation: fade is ease-in-out;
}
.que_ans.active svg{
    transform: rotate(180deg);
}
.questions p{
    font-size: 1.4rem;
    color: #000;
    font-weight: 500;
}
.answers{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.3s ease;
}
svg{
    transition: transform 0.5s ease-in;
}
.answers p{
    color: #C3C4C5;
    font-weight: 500;
    line-height: 1.5rem;
}
.questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.problem-sln-para p{
    font-size: 2.6rem;
    color: rgba(118, 51, 53, 0.80);
    font-weight: 600;
    /* width: 40%; */
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* about section 4 starts  */

#about-sec4-heading {
    color: rgba(118, 51, 53, 0.80);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-left: 8.5rem;
    margin-top: 4rem;
}

.about-section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    column-gap: 2rem;
}

.box {
    /* margin-left: 9rem; */
    margin-top: 3.2rem;
    width: 340px;
    height: 295px;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 9px;
    background: #F1F3EB;
}

.box #para {
    color: #666;
    font-size: 14px;
}

.box #heading {
    color: #050505;
    font-size: 20px;
}

.box #image {
    background-color: #666;
    width: 100px;
    height: 100px;
}

/* about section 4 ends  */

/* responsive  */

@media screen and (max-width:540px) {
    .about-section1 #about-section1-img {
        margin-left: auto;
    }
}

@media screen and (max-width:480px) {
    .about-section1 #about-section1-img {
        margin-left: 4rem;
    }

    .about-section1 #img-2 {
        width: 90%;
    }

    .about-section1-para {
        font-size: 1.2rem;
    }

    .about-section1-para p {
        width: 73%;
        margin-top: 12px;
    }

    .about-section2 p {
        margin-left: 43px;
        margin-top: -4rem;
    }

    .about-section3-para {
        width: 100%;
    }

    .about-section3-para {
        margin-left: -6rem;
    }

    #ourmission {
        justify-content: center;
    }

    #about-section3-img {
        margin-left: 0rem;
    }
}

@media screen and (max-width:430px) {
    .about-section1 #about-section1-img {
        margin-left: 0rem;
        width: auto;
    }

    .about-section1-para p {
        margin-left: -60px;
        width: 100%;
    }

    .about-section1 #img-1 {
        width: 100%;
        margin-left: -31px;
    }

    .about-section1 #img-2 {
        margin-left: -41px;
    }

    #about-section3-img {
        width: 80%;
    }

    .about-section1-para {
        margin-left: 52px;
    }

    #ourmission {
        margin-left: 47px;
        font-size: 36px;
        margin-top: -4rem;
    }

    #aboutus {
        font-size: 36px;
    }

    .about-section2 span {
        font-size: 36px;
    }

    #about-section3-img {
        margin-left: 2rem;
    }

    #about-sec4-heading {
        font-size: 36px;
        margin-top: 4.5rem;
        margin-left: 2.5rem !important;
    }
}

@media screen and (max-width:645px) {
    .about-section1 #img-1 {
        margin-left: -50px;
    }

    .about-section1 #img-2 {
        margin-left: -58px;
        margin-top: -42px;
    }

    .about-section1-para {
        width: 86%;
    }

    #aboutus {
        margin-left: -70px;
    }

    .about-section1-para {
        margin-left: -27px;
        width: 100%;
    }
}

@media screen and (max-width:414px) {
    #aboutus {
        margin-left: -110px;
    }

    .about-section1 #img-1 {
        margin-left: -125px;
        width: 125%;
    }

    .about-section1 #img-2 {
        margin-left: -80px;
        margin-top: -105px;
        width: 127%;
    }

    .about-section1-para p {
        width: 131%;
        margin-left: -79px;
    }

    .about-section2 {
        margin-top: 18px;
        height: 464px;
    }
}

@media screen and (max-width:380px) {
    .about-section2 {
        height: 500px;
    }
}

@media screen and (max-width:360px) {
    .about-section2 p {
        margin-left: 24px;
    }
}


/* footer style starts  */

.main-footer {
    background: #302117;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 20% 30% 39%;
    gap: 9%;
    margin: 0 7%;
    margin-top: 4rem;
    padding-top: 3rem;

}

.footer-content-column1 .menu-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.menu-circle {
    display: inline-flex;
}

.footer-content-column2 .contact-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.contact-circle {
    display: inline-flex;
}

.footer-content-column3 .Maarc-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.Maarc-circle {
    display: inline-flex;
}

.menu {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 5px;
    margin-top: 2px;
}

.footer-content-row1 {
    margin-top: 27px;
}

.footer-content-row1 {
    margin-top: 27px;
}

.footer-content-row1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
}

#response {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 27px;

}

#mob-num {
    width: 70%;
    color: #000;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.6px;
    padding: 8px 6px;
    border-radius: 50px;
    background: #fff;
    margin-top: 30px;
    text-align: center;
}

#voter {
    color: #fff;
    font-size: 29px;
    font-weight: 400;
    margin-top: 27px;
}

#arrow-svg {
    margin-left: 40px;

}

#address {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    margin-top: 18px;
}

#hr {
    opacity: 1.8;
    color: #C2A05F;
    margin-top: 12px;
    width: 88%;

}

.follow-news {
    display: flex;
    margin-top: 25px;
}

#follow-news {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
}

.svgs {
    margin-left: 50px;
    cursor: pointer;
}

#middle-svg {
    margin-left: 9px;
    margin-right: 9px;
}

.footer-content-column1 {
    margin-left: 40px;
}

#footer-image {
    width: 563px;
    height: 210px;
    margin-top: 60px;
    margin-left: 28%;
}

#last-line {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    letter-spacing: -0.5px;
    background: linear-gradient(180deg, #fff 0%, rgba(82, 35, 36, 1.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -30px;
}

#last-line-hr {

    margin: 30px 120px;
    /* color: rgba(110, 83, 83, -0.9); */
    color: #fff;
    opacity: 0.1;
    width: 83%;
}

#below-hr {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    opacity: 0.6;
    margin-left: 120px;
    padding-bottom: 40px;
}

/* footer style ends  */

/* footer responsive  */
@media screen and (max-width:1257px) {
    #response {
        font-size: 25px;
    }

    #voter {
        font-size: 25px;
    }
}

@media screen and (max-width:1218px) {
    #mob-num {
        padding: 0 !important;
    }

    #footer-image {
        width: 491px;
        height: 192px;
        margin-top: 48px;
        margin-left: 29%;
    }

    #last-line {
        font-size: 44px;
    }

    #last-line-hr {
        margin: 33px 184px;
        width: 69%;
    }

    #below-hr {
        margin-left: 175px;
    }
}

@media screen and (max-width:1030px) {
    #footer-image {
        width: 370px;
        height: 142px;
    }

    #last-line {
        font-size: 35px;
    }

    #last-line-hr {
        margin: 26px 158px;
    }

    #address {
        font-size: 11px;
        margin-top: 10px;
    }

}

@media screen and (max-width:1206px) {
    .btns button {
        font-size: 16px;
    }

    .btns button span {
        padding: 1px;
    }

    .btns button span img {
        width: 15%;
    }
}

@media screen and (max-width:1146px) {
    #arrow-svg {
        margin-left: 10px;
    }

    .footer {
        gap: 5%;
    }
}

@media screen and (max-width:1112px) {
    #mob-num {
        font-size: 19px;
        width: 65%;
    }
}

@media screen and (max-width:1086px) {
    .btns button {
        font-size: 14px;
    }

    .btns button span {
        padding: 1px;
    }

    .btns button span img {
        width: 16%;
    }
}

@media screen and (max-width:1070px) {
    .section7 {
        gap: 3%;
        height: 399px;
    }

    .section7 #img1 {
        width: 190px;
        height: 320px;
    }

    .section7 #img2 {
        width: 190px;
        height: 230px;
    }

    #address {
        font-size: 14px;
    }
}

@media screen and (max-width:1042px) {
    #mob-num {
        width: 74%;
    }
}

@media screen and (width:965px) {
    .footer {
        padding-top: 15rem;
    }

    #voter {
        margin-top: 14px;
    }

    #response {
        margin-top: 14px;
    }

    .footer-content-row1 {
        margin-top: 14px;
    }
}

@media screen and (max-width:889px) {
    #mob-num {
        width: 71%;
        font-size: 17px;
    }
}

@media screen and (max-width:841px) {
    .footer-content-row1 {
        font-size: 12px;
    }

    #mob-num {
        margin-top: 15px;
        width: 70%;
        font-size: 14px;
    }

    #address {
        font-size: 11px !important;
    }

    #follow-news {
        font-size: 14px;
        line-height: 0;
    }

    .svgs {
        margin-left: 36px;
        margin-top: -11px;
    }

}

@media screen and (max-width:826px) {
    .home-section7 p {
        font-size: 13px;
    }

    .home-section7 div {
        padding: 15% 0 0 15%;
    }

    .section7 #img1 {
        width: 176px;
        height: 296px;
    }

    .section7 #img2 {
        width: 159px;
        height: 218px;
        margin-top: 7rem;
    }

    .btns button {
        font-size: 11px;
    }
}

@media screen and (max-width:933px) {
    #voter {
        font-size: 20px;
    }

    #response {
        font-size: 20px;
    }
}

@media screen and (max-width:773px) {
    .btns button {
        padding: 4px 0px 4px 0px;
    }

    #voter {
        font-size: 17px;
    }

    .footer {
        display: grid;
        grid-template-columns: 20% 28% 37%;
    }

    #mob-num {
        width: 80%;
    }

    #hr {
        width: 98%;
    }

    #footer-image {
        width: 263px;
        height: 110px;
        margin-top: 21px;
        margin-left: 32%;
    }

    #last-line {
        font-size: 26px;
        line-height: 32px;
    }

    #last-line-hr {
        width: 58%;
    }

    #below-hr {
        margin-left: 157px;
        line-height: 28px;
    }
}

@media screen and (max-width:725px) {

    .footer-content-column1 {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 70%;
        margin-left: 10%;
    }

    #mob-num {
        width: 100%;
        font-size: 18px;
    }

    #footer-image {
        width: 206px;
        height: 86px;
        margin-left: 37%;
        margin-top: 32px;
    }

    .section7 #img1 {
        width: 144px;
        height: 252px;
    }

    .section7 #img2 {
        width: 130px;
        height: 180px;
    }

    .btns {
        display: flex;
    }

    .home-section7 div {
        padding: 7% 0 0 10%;
    }

    .section7 {
        height: 313px;
    }

    #last-line-hr {
        width: auto;
    }
}

@media screen and (max-width:651px) {
    .footer {
        width: 75%;
        margin-left: 13%;
    }

    #below-hr {
        margin-left: 60px;
        line-height: 13px;
        padding-bottom: 4px;
    }
}

@media screen and (max-width:600px) {
    .section7 {
        display: grid;
        grid-template-columns: auto;
    }

    .section7 .images {
        display: none;
    }

    .home-section7 div {
        padding: 5% 0 0 4%;
    }

    .btns button {
        margin: 5px;
    }

    #mob-num {
        font-size: 14px;
    }
}

@media screen and (max-width:552px) {
    .footer {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .home-section6 {
        gap: 0;
    }

    #voter,
    #response {
        margin-top: 0;
    }

    #mob-num {
        font-size: 19px;
    }

    #arrow-svg {
        display: none;
    }

    #footer-image {
        width: 181px;
        height: 69px;
        margin-left: 33%;
        margin-top: 24px;
    }

    #last-line {
        font-size: 18px;
        line-height: 29px;
    }

    #last-line-hr {
        margin: 26px 158px 22px 158px;
    }

    #below-hr {
        margin-left: 45px;
        font-size: 9px;
    }

    .follow-news {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .svgs {
        margin-left: 0px;
    }
}

@media screen and (max-width:411px) {
    .home-section6 img {
        display: none;
    }
}

@media screen and (max-width:396px) {
    #footer-image {
        margin-left: 26%;
    }
}




#tabs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 1.5rem;
    margin-left: 8rem;
    gap: 4rem;
}

.tab-link.active {
    border-bottom: 4px solid #915C5D;
}

#tabs ul li a {
    text-decoration: none;
    color: #8c8b8b;
    padding: 0rem 1rem;
}

.tab-content {
    display: none;
}

.tab-content .img {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 0.5rem;
    justify-content: center;
}

.active {
    display: block;
}

@media screen and (max-width:1000px) {
    .tab-content .img {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.5rem;
    }
}

@media screen and (max-width:700px) {
    .tab-content .img {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.7rem;
    }
}

@media screen and (max-width:500px) {
    .tab-content .img {
        display: grid;
        grid-template-columns: auto;
        gap: 1.7rem;
    }
}

/* section 5 css starts  */
.section5 {
    background: #F0F2EE;
}

.home-section5 p {
    width: 43%;
    margin-left: 9%;

}

.home-section5 h3 {
    color: #C06D6F;
    font-weight: 700;
    font-size: 48px;
    padding: 3% 0 1.7% 0;
    margin-left: 9%;
}

.home-section5 span {
    color: #A24446;
    font-weight: 700;
}

.section5 .boxes .box .gif, .section5 .boxes .box .png {
    height: 152px;
    cursor: pointer;
    position: absolute;
}
.section5 .boxes .box .gif{
    display: none;
}
.gif_png {
    position: relative;
    height: 152px;
    display: grid;
    place-items: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    padding-bottom: 5%;
}

.box {
    display: flex;
    width: 340px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 9px;
    background: #FFF;
    margin-top: 4rem;
}

.box #para {
    color: #666;
    font-size: 14px;
    width: auto;
    text-align: center;
}

.box #heading {
    color: #050505;
    font-size: 20px;
    text-align: center;
}

.box #image {
    background-color: #666;
    width: 130px;
    height: 130px;
}

/* section 5 css ends  */ 