* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

nav .logo {
    cursor: pointer;
}

nav .links {
    display: flex;
    gap: 2rem;
}

nav .links li {
    list-style: none;
    padding: 0 6px;
}

nav .links a,
.dropdown-menu a {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #4D4D4D;
}

nav .links a:hover {
    color: #915C5D;
    text-decoration: underline;
}

.DonateNow-btn {
    font-size: 14px;
    font-weight: 550;
    background-color: #fafafa;
    color: #915C5D;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 12px;
    border: 2px solid #915C5D;
    border-radius: 15px;
    outline: none;
}

.DonateNow-btn:hover {
    background-color: #915C5D;
    color: #FFF;
}

nav .toggle-btn {
    color: #4D4D4D;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    height: 0;
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    background-color: #d3d3d3;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.display {
    height: 250px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu a:hover {
    color: #915C5D;
    text-decoration: underline;
}

.dropdown-menu .DonateNow-btn:hover {
    background-color: #915C5D;
    color: #FFF;
}

.dropdown-menu .DonateNow-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsive  navbar  starts*/

@media screen and (max-width:992px) {

    nav .links,
    nav .DonateNow-btn {
        display: none;
    }

    nav .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
        width: 90%;

    }
}

@media screen and (max-width:576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

@media screen and (max-width:550px) {
    .logo img {
        width: 77%;
    }
}

@media screen and (max-width:350px) {
    .logo img {
        width: 55%;
    }
}

/* responsive  navbar  ends*/


/* donate section one css  */

.donate-section1 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 93%;
}

/* .donate-column2{
    margin-right: 60px;
} */

.donate-heading-1 {
    color: rgba(118, 51, 53, 0.80);
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1.28px;
}

.donate-heading-2 {
    width: 75%;
    color: #7A7A7A;
    margin-top: 30px;
}

.donate-heading-2 #niyah {
    font-weight: 700;
}

.donate-content {
    margin-left: 85px;
}

.Payment-box {
    width: 93%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 3rem;
    line-height: 1.8rem;
}
.Payment-box2 {
    display: flex !important;
    justify-content: center;
    gap: 2%;
    line-height: 1.8rem;
    display: none !important;
    padding-bottom: 3rem;
}
 #bank_detail {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

#below_bank_detail {
    font-size: 1.2rem;
    font-weight: 500;
}

#donate-image {
    display: none;
    max-width: 100%;
    max-height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.amt-section {
    display: flex;

}

/* donate section one css ends  */

/* responsive section 1  */

@media screen and (max-width:1207px) {
    #donate-img {
        width: 80%;
        height: 50vh;
    }
}

@media screen and (max-width:1033px) {
    #donate-img {
        width: 37%;
        height: 27vh;
    }
}

@media screen and (max-width:889px) {
    .donate-content {
        margin-left: 48px;
    }

    .add-amount-container {
        padding: 18px;
        gap: 28px;
        margin-left: 48px;
        margin-top: 40px;
        width: 369px;
    }

    #donate-img {
        margin-right: 26px;
        margin-top: 3px;
    }
}

@media screen and (max-width:801px) {
    .donate-heading-1 {
        font-size: 50px;
    }

    .donate-heading-2 {
        width: 92%;
        margin-top: 9px;
    }

    #donate-img {
        width: 37%;
        height: 31vh;
    }
}

@media screen and (max-width:657px) {
    .donate-heading-2 {
        width: 85%;
    }

    .add-amount-container {
        width: 294px;
        padding: 10px;
        gap: 19px;
    }

    #donate-img {
        width: 57%;
        margin-right: 0;
    }

    #donate-btn {
        height: 43px;
        padding: 9px;
        border-radius: 30px;
        font-size: 15px;
    }

    #donate-img {
        width: 37%;
        height: 26vh;
    }

}

@media screen and (max-width:540px) {
    .donate-section1 {
        display: flex;
        flex-direction: column;
    }

    #donate-img {
        width: 50%;
        height: 37vh;
        margin-left: 25%;
    }

    .add-amount-container {
        width: 409px;
        padding: 24px;
        gap: 25px;
        margin-left: 48px;
        margin-top: 46px;
    }

    .donate-heading-2 {
        width: auto;
    }
}

@media screen and (max-width:465px) {
    .donate-heading-1 {
        font-size: 38px;
        line-height: 49px;
    }

    .donate-content {
        margin-left: 18px;
    }

    .add-amount-container {
        margin-left: 20px;
        width: 414px;
        gap: 32px;
        margin-top: 46px;
    }

    #donate-img {
        margin-top: 19px;
    }

    #cart-para {
        width: auto !important;
    }

    .main-cart {
        height: auto !important;
    }
}


/* responsive  end */


#donate-section-heading {
    color: #396173;
    font-size: 32px;
    font-weight: 550;
    letter-spacing: -0.8px;
    margin: 0 0px 0 85px;
}

.cart {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    column-gap: 2%;
    justify-content: center;
    /* margin-right: 10%; */
}

.main-cart {
    display: flex;
    height: 620px;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    border: 1px solid #f1e8e8;
    background: #FFF;

}

#cart-heading {
    color: #666;
    font-size: 20px;
    font-weight: 600;
    /* width: 314px; */
    width: 80%;
    text-align: center;
}

#cart-para {
    color: #666;
    margin-top: -20px;
    font-size: 17px;
    width: 314px;
}

/* donate section 2 ends  */

/* donate-section3 starts  */

.donate-section3 {
    display: grid;
    grid-template-columns: 39% auto;
    border-radius: 21px;
    background: #F3F2E7;
    width: 88%;
    height: 100%;
    margin-left: 5rem;
    margin-top: 5rem;
    position: relative;
    padding-top: 3%;
    padding-left: 10%;
}

.donate-section3 div {
    color: #666;
}

.donate-section3 p {
    padding-bottom: 1rem;
}

.donate-section3 img {
    position: absolute;
    right: 20px;
    bottom: 1px;
    padding-right: 5rem;
}


/* donate-section3 ends  */

/* footer style starts  */

.main-footer {
    background: #302117;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 20% 30% 39%;
    gap: 9%;
    margin: 0 7%;
    margin-top: 4rem;
    padding-top: 3rem;

}

.footer-content-column1 .menu-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.menu-circle {
    display: inline-flex;
}

.footer-content-column2 .contact-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.contact-circle {
    display: inline-flex;
}

.footer-content-column3 .Maarc-circle #circle {
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background: #F3F2E7;
}

.Maarc-circle {
    display: inline-flex;
}

.menu {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 5px;
    margin-top: 2px;
}

.footer-content-row1 {
    margin-top: 27px;

}

.footer-content-row1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;

}

#response {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 27px;

}

#mob-num {
    width: 70%;
    color: #000;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.6px;
    padding: 8px 6px;
    border-radius: 50px;
    background: #fff;
    margin-top: 30px;
    text-align: center;
}

#voter {
    color: #fff;
    font-size: 29px;
    font-weight: 400;
    margin-top: 27px;
}

#arrow-svg {
    margin-left: 40px;

}

#address {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    margin-top: 18px;
}

#hr {
    opacity: 1.8;
    color: #C2A05F;
    margin-top: 12px;
    width: 88%;

}

.follow-news {
    display: flex;
    margin-top: 25px;
}

#follow-news {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
}

.svgs {
    margin-left: 50px;
    cursor: pointer;
}

#middle-svg {
    margin-left: 9px;
    margin-right: 9px;
}

.footer-content-column1 {
    margin-left: 40px;
}

#footer-image {
    width: 563px;
    height: 210px;
    margin-top: 60px;
    margin-left: 28%;
}

#last-line {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    letter-spacing: -0.5px;
    background: linear-gradient(180deg, #fff 0%, rgba(82, 35, 36, 1.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -30px;
}

#last-line-hr {

    margin: 30px 120px;
    /* color: rgba(110, 83, 83, -0.9); */
    color: #fff;
    opacity: 0.1;
    width: 83%;
}

#below-hr {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    opacity: 0.6;
    margin-left: 120px;
    padding-bottom: 40px;
}

/* footer style ends  */

@media screen and (max-width:1227px) {
    #cart-img {
        width: 66%;
    }

    #cart-heading {
        width: 56%;
    }

    #cart-para {
        width: 246px;
    }

    .Payment-box {
        width: 100%;
        gap: 0;
    }

    .Payment-box img {
        width: 170px;
    }

    .Payment-box #below_bank_detail {
        font-size: 1.1rem;
    }

    .Payment-box p {
        font-size: 14px;
    }
}

@media screen and (max-width:1101px) {
    #cart-heading {
        width: 58%;
    }

    #cart-para {
        width: 251px;
        text-align: center;
    }
}

@media screen and (max-width:1057px) {
    #cart-heading {
        width: 60%;
    }
}

@media screen and (max-width:1061px) {
    #cart-heading {
        width: 69%;
    }
}

@media screen and (max-width:895px) {
    .cart {
        display: grid;
        grid-template-columns: 70%;
        row-gap: 2%;
    }

    #donate-section-heading {
        font-size: 29px;
    }

    #cart-img {
        width: 50%;
    }

    #cart-heading {
        font-size: 34px;
        width: 75%;
    }

    .main-cart {
        height: 736px;
    }

    #cart-para {
        width: 424px;
        font-size: 22px;
    }
}

@media screen and (max-width:710px) {
    .cart {
        display: grid;
        grid-template-columns: 96%;
        row-gap: 2%;
    }
}

@media screen and (max-width:439px) {
    #donate-section-heading {
        margin: 0px 0px 30px 16px;
    }
}

@media screen and (max-width:400px) {
    #donate-img {
        height: 20vh;
    }

    .add-amount-container {
        width: 333px;
        margin-left: 19px;
        gap: 24px;
    }

    .amt-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #amt-head2 {
        margin-right: 128px;
    }
}

@media screen and (max-width:440px) {
    #donate-section-heading {
        font-size: 29px;
    }

    .add-amount-container {
        width: 360px;
        margin-left: 8px;
    }

    #donate-img {
        width: 47%;
        height: 22vh;
        margin-left: 26%;
    }

    .donate-section1 {
        margin-bottom: 44px;
    }

    #cart-heading {
        font-size: 26px !important;
        width: 87% !important;
    }

    #cart-para {
        width: auto;
        font-size: 20px;
    }
}

@media screen and (max-width:371px) {
    .add-amount-container {
        width: 288px;
        margin-left: 10px;
        gap: 13px;
        margin-top: 14px;
    }

    #amt-head1 {
        font-size: 12px;
    }

    #amt-head2 {
        margin-right: 143px;
        font-size: 14px;
    }

    #donate-btn {
        height: 27px;
        padding: 6px;
        font-size: 12px;
    }

    #donate-img {
        display: none;
    }

    #donate-section-heading {
        font-size: 21px;
        margin: 0px 0px 10px 16px;
    }
}

@media screen and (max-width:343px) {
    #cart-img {
        width: 42%;
    }

    #cart-heading {
        font-size: 19px !important;
    }

    #cart-para {
        font-size: 16px;
    }

    .donate-section3 {
        margin-left: 1rem !important;
        margin-top: 5rem !important;
    }

    .footer {
        margin-top: 1rem;
    }
}

@media screen and (max-width:302px) {
    .add-amount-container {
        width: 252px;
    }
}

/* section 3 responsive */

@media screen and (max-width:1223px) {
    .donate-section3 {
        display: grid;
        grid-template-columns: 44% auto;
        padding-left: 5%;
    }
}

@media screen and (max-width:1018px) {
    .donate-section3 {
        display: grid;
        grid-template-columns: 49% auto;
    }

    .donate-section3 img {
        padding-right: 0;
    }
}

@media screen and (max-width:915px) {
    .donate-section3 div {
        font-size: 14px;
    }

    .donate-section3 img {
        padding-right: 33px;
        width: 36%;
    }
}

@media screen and (max-width:895px) {
    .donate-section3 {
        margin-top: 8rem;
        margin-left: 3rem;
    }
}

@media screen and (max-width:800px) {
    .donate-section3 div {
        font-size: 12px;
    }
}

@media screen and (max-width:688px) {
    .donate-section3 img {
        padding-right: 26px;
        width: 40%;
    }

    .donate-section3 div {
        font-size: 10px;
    }
}

@media screen and (max-width:571px) {
    .donate-section3 {
        display: grid;
        grid-template-columns: 53% auto;
    }

    .donate-section3 img {
        padding-right: 0;
        width: 34%;
    }
}

@media screen and (max-width:529px) {
    .donate-section3 img {
        display: none;
    }

    .donate-section3 {
        display: grid;
        grid-template-columns: 90%;
        margin-left: 1.5rem;
    }
}

/* footer responsive  */
@media screen and (max-width:1257px) {
    #response {
        font-size: 25px;
    }

    #voter {
        font-size: 25px;
    }
}

@media screen and (max-width:1218px) {
    #mob-num {
        padding: 0 !important;
    }

    #footer-image {
        width: 491px;
        height: 192px;
        margin-top: 48px;
        margin-left: 29%;
    }

    #last-line {
        font-size: 44px;
    }

    #last-line-hr {
        margin: 33px 184px;
        width: 69%;
    }

    #below-hr {
        margin-left: 175px;
    }
}

@media screen and (max-width:1030px) {
    #footer-image {
        width: 370px;
        height: 142px;
    }

    #last-line {
        font-size: 35px;
    }

    #last-line-hr {
        margin: 26px 158px;
    }

    #address {
        font-size: 11px;
        margin-top: 10px;
    }

}

@media screen and (max-width:1206px) {
    .btns button {
        font-size: 16px;
    }

    .btns button span {
        padding: 1px;
    }

    .btns button span img {
        width: 15%;
    }
}

@media screen and (max-width:1146px) {
    #arrow-svg {
        margin-left: 10px;
    }

    .footer {
        gap: 5%;
    }
}

@media screen and (max-width:1112px) {
    #mob-num {
        font-size: 19px;
        width: 65%;
    }
}

@media screen and (max-width:1086px) {
    .btns button {
        font-size: 14px;
    }

    .btns button span {
        padding: 1px;
    }

    .btns button span img {
        width: 16%;
    }
}

@media screen and (max-width:1070px) {
    .section7 {
        gap: 3%;
        height: 399px;
    }

    .section7 #img1 {
        width: 190px;
        height: 320px;
    }

    .section7 #img2 {
        width: 190px;
        height: 230px;
    }

    #address {
        font-size: 14px;
    }
}

@media screen and (max-width:1042px) {
    #mob-num {
        width: 74%;
    }
}

@media screen and (width:965px) {
    .footer {
        padding-top: 15rem;
    }

    #voter {
        margin-top: 14px;
    }

    #response {
        margin-top: 14px;
    }

    .footer-content-row1 {
        margin-top: 14px;
    }
}

@media screen and (max-width:889px) {
    #mob-num {
        width: 71%;
        font-size: 17px;
    }
}

@media screen and (max-width:841px) {
    .footer-content-row1 {
        font-size: 12px;
    }

    #mob-num {
        margin-top: 15px;
        width: 70%;
        font-size: 14px;
    }

    #address {
        font-size: 11px !important;
    }

    #follow-news {
        font-size: 14px;
        line-height: 0;
    }

    .svgs {
        margin-left: 36px;
        margin-top: -11px;
    }

}

@media screen and (max-width:826px) {
    .home-section7 p {
        font-size: 13px;
    }

    .home-section7 div {
        padding: 15% 0 0 15%;
    }

    .section7 #img1 {
        width: 176px;
        height: 296px;
    }

    .section7 #img2 {
        width: 159px;
        height: 218px;
        margin-top: 7rem;
    }

    .btns button {
        font-size: 11px;
    }
}

@media screen and (max-width:933px) {
    #voter {
        font-size: 20px;
    }

    #response {
        font-size: 20px;
    }
}

@media screen and (max-width:773px) {
    .btns button {
        padding: 4px 0px 4px 0px;
    }

    #voter {
        font-size: 17px;
    }

    .footer {
        display: grid;
        grid-template-columns: 20% 28% 37%;
    }

    #mob-num {
        width: 80%;
    }

    #hr {
        width: 98%;
    }

    #footer-image {
        width: 263px;
        height: 110px;
        margin-top: 21px;
        margin-left: 32%;
    }

    #last-line {
        font-size: 26px;
        line-height: 32px;
    }

    #last-line-hr {
        width: 58%;
    }

    #below-hr {
        margin-left: 157px;
        line-height: 28px;
    }
    .Payment-box{
        display: none;
    }
    .Payment-box2{
        display:block;
    }
}

@media screen and (max-width:725px) {

    .footer-content-column1 {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 70%;
        margin-left: 10%;
    }

    #mob-num {
        width: 100%;
        font-size: 18px;
    }

    #footer-image {
        width: 206px;
        height: 86px;
        margin-left: 37%;
        margin-top: 32px;
    }

    .section7 #img1 {
        width: 144px;
        height: 252px;
    }

    .section7 #img2 {
        width: 130px;
        height: 180px;
    }

    .btns {
        display: flex;
    }

    .home-section7 div {
        padding: 7% 0 0 10%;
    }

    .section7 {
        height: 313px;
    }

    #last-line-hr {
        width: auto;
    }
}

@media screen and (max-width:651px) {
    .footer {
        width: 75%;
        margin-left: 13%;
    }

    #below-hr {
        margin-left: 60px;
        line-height: 13px;
        padding-bottom: 4px;
    }
}

@media screen and (max-width:600px) {
    .section7 {
        display: grid;
        grid-template-columns: auto;
    }

    .section7 .images {
        display: none;
    }

    .home-section7 div {
        padding: 5% 0 0 4%;
    }

    .btns button {
        margin: 5px;
    }

    #mob-num {
        font-size: 14px;
    }
}

@media screen and (max-width:552px) {
    .footer {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .home-section6 {
        gap: 0;
    }

    #voter,
    #response {
        margin-top: 0;
    }

    #mob-num {
        font-size: 19px;
    }

    #arrow-svg {
        display: none;
    }

    #footer-image {
        width: 181px;
        height: 69px;
        margin-left: 33%;
        margin-top: 24px;
    }

    #last-line {
        font-size: 18px;
        line-height: 29px;
    }

    #last-line-hr {
        margin: 26px 158px 22px 158px;
    }

    #below-hr {
        margin-left: 45px;
        font-size: 9px;
    }

    .follow-news {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .svgs {
        margin-left: 0px;
    }
}

@media screen and (max-width:411px) {
    .home-section6 img {
        display: none;
    }
}

@media screen and (max-width:396px) {
    #footer-image {
        margin-left: 26%;
    }
}
@media screen and (max-width:615px){
    .Payment-box2{
        gap: 0;
    }
    .Payment-box2 img{
        width: 150px;
    }
    .Payment-box2 #below_bank_detail {
        font-size: 1.1rem;
    }

    .Payment-box2 p {
        font-size: 14px;
    }
}
@media screen and (max-width:615px){
    .Payment-box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .Payment-box2 img{
        width: 40%;
    }
}